div.Principal {
    width: auto;
    height: auto;
    background: rgba(0, 156, 255, 0.41);
    /*para Firefox*/
    -moz-border-radius: 15px 15px 15px 15px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* para Opera */
    border-radius: 15px 15px 15px 15px;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 10%;
    border: 1px solid gray;
}

.titulo {
    font-family: Helvetica, Arial, sans-serif, bold;
    font-size: 250%;
    align-content: center;
    color: beige;
}

div.scrollCarteleraItems {
    width: 400px;
    height: 100px;
    overflow: scroll;
}

div.scrollCarteleraItems {
    width: 400px;
    height: 100px;
    overflow: scroll;
}

div.mostrarCurso {
    width: 250px;
    height: 200px;
    font-size: 12px;
}

table.mostrarCurso {
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

table.mostrarCurso td {
    padding: 50px 50px 50px 50px;
    /*not(:last-child) { ; }*/
}

.tituloTaller {
    background-color: #fcfdfd;
    width: 20%;
    height: 10%;
    font-size: 120%;
    color: #e17009;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif, bold;

    /*para Firefox*/
    -moz-border-radius: 5px 5px 5px 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px 5px 5px 5px;
    /* para Opera */
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #a6c9e2;
    margin-bottom: 2%;

}

div.formulario {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-top: 3%;
}

form.formulario{
    width: 50%;
    margin: 0 auto;
    padding-top: 3%;
}

div.botones {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding-top: 2%;
}

.grid{
    font-size: 12px;
    width: 100%;
}

.gridCenter{
    margin-left: 3%;
    margin-right: 3%;
}


.error {
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}