* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}

.logo {
    width: 550px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

div.Principal {
    width: auto;
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
}

label.classFormularioStruts{

}

input.classFormularioStruts{

}

div.scrollCarteleraItems {
    width: 400px;
    height: 100px;
    overflow: scroll;
}

div.scrollCarteleraItems {
    width: 400px;
    height: 100px;
    overflow: scroll;
}

div.mostrarCurso {
    width: 310px;
    height: 200px;
    font-size: 12px;
}

table.mostrarCurso {
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

table.mostrarCurso td {
    padding: 30px 20px 20px 20px;
    /*not(:last-child) { ; }*/
}

.tituloTaller {
    background-color: #fcfdfd;
    width: 20%;
    height: 10%;
    font-size: 120%;
    color: #e17009;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif, bold;

    /*para Firefox*/
    -moz-border-radius: 5px 5px 5px 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px 5px 5px 5px;
    /* para Opera */
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #a6c9e2;
    margin-bottom: 2%;

}

div.formulario {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
}

.label {
    font-family: "Trebuchet MS";
    font-weight:bold;
    font-size:12pt;
    cursor: default;
}

.errorLabel {
    font-family: "Trebuchet MS";
    font-weight:bold;
    font-size:12pt;
    cursor: default;
}
.errorMessage {
    font-family: "Trebuchet MS";
    font-weight:bold;
    font-size:10pt;
    color: red;
}
.box {
    width: 200px;
    height: 20px;
    background:#fff;
    font-family: "Trebuchet MS";
    font-size:10pt;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    padding:10px;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.boxHeader {
    width: 150px;
    height: 5px;
    background:#fff;
    font-family: "Trebuchet MS";
    font-size:8pt;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    padding:10px;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}



.boxArea {
    width: 200px;
    height: 40px;
    background:#fff;
    font-family: "Trebuchet MS";
    font-size:10pt;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    padding:10px;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.boxFile {
    width: 200px;
    height: 40px;
    background:#fff;
    font-family: "Trebuchet MS";
    font-size:10pt;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

div.formInterno {
    /*width: 564px;
    height: auto;*/
    margin: 0 auto;
    text-align: center;
    display:inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 6%;
    border: 1px solid #d0d0d0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
div.formInternoCrearNoticia {
    /*width: 564px;
    height: auto;*/
    margin: 0 auto;
    text-align: center;
    display:inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 8%;
    border: 1px solid #d0d0d0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div.TituloformInterno {
    display:inline-block;
    margin: 0 auto;
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 28px;
    font-weight:bold;
    padding-bottom: 5%;
}
div.tituloNoticia {
    margin: 0 auto;
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 16px;
    font-weight:bold;
}

div.descripcionNoticia {
    margin: 0 auto;
    font-family: "Trebuchet MS";
    text-align: justify;
    font-size: 12px;

}

div.tituloRepresentante{
    font-family: "Trebuchet MS";
    text-align: left;
    font-size: 18px;
    border-bottom: 1px solid #d0d0d0;
}

div.mostrarRepresentados{
    text-align: center;
}
div.infoRepresentado{
    /*width: 564px;
    height: auto;*/
    font-family: "Trebuchet MS";
    margin: 0 auto;
    text-align: left;
    display:inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid #d0d0d0;
    background: #f2f5f7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div.noticia {
    width: 310px;
    height: 210px;
    font-size: 12px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid #d0d0d0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
div.imagenDialogo {
    text-align: center;
}

.imagenDialogo img{
    width:300px;
    height:300px;
}

div.tituloNoticiaDialogo {
    text-align: center;
}
div.descripcionNoticiaDialogo {
    text-align: justify;
}

div.fechaNoticiaDialogo {
    text-align: center;
}


div.dialogoNoticia {
    width: 70%;
    height: 70%;
}
form.formulario {
    width: 50%;
    margin: 0 auto;
    padding-top: 3%;
}
div.cartelera {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
div.botones {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding-top: 4%;
}
div.botones2 {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding-top: 4%;
}

div.botonesHeader {
    /*margin: 0 auto;*/
    font-size: 12px;
    /*padding-top: 4%;*/
    padding-bottom: 3%;

}

.grid {
    display: inline-block;
    font-size: 12px;
    width:auto;
}

.gridCenter {
    margin-left: 3%;
    margin-right: 3%;
}

.error {
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}