div.scrollCarteleraItems
{
    width:400px;
    height:100px;
    overflow:scroll;
}

div.scrollCarteleraItems
{
    width:400px;
    height:100px;
    overflow:scroll;
}


div.mostrarCurso{
    width: 250px;
    height: 200px;
    font-size: 12px;
}

table.mostrarCurso{
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

table.mostrarCurso td{
    padding: 50px 50px 50px 50px;
    /*not(:last-child) { ; }*/
}