<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PagosAction" class="com.cursos.action.pagos.PagosAction" scope="prototype">
        <property name="pagosService" ref="PagosService"/>
        <property name="usuarioService" ref="UsuarioService"/>
        <property name="tallerService" ref="TallerService"/>
        <property name="email" ref="Email"/>
    </bean>

    <bean id="GridPagosAction" class="com.cursos.action.pagos.GridPagosAction" scope="prototype">
        <!--<property name="pagosService" ref="PagosService"/>-->
        <property name="tallerService" ref="TallerService"/>
    </bean>


    <bean id="GridHistorialPagosAction" class="com.cursos.action.pagos.GridHistorialPagosAction" scope="prototype">
        <property name="pagosService" ref="PagosService"/>
    </bean>


    <bean id="PagosService" class="com.cursos.service.pagos.PagosService">
        <property name="pagosDao" ref="PagosDao"/>
        <property name="alumnoDao" ref="AlumnoDao"/>
        <property name="tallerDao" ref="TallerDao"/>
        <property name="alumnoTallerDao" ref="AlumnoTallerDao"/>
    </bean>

    <bean id="PagosDao" class="com.cursos.dao.pagos.PagosDao">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="DetallePagosDao" class="com.cursos.dao.pagos.DetallePagosDao">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

</beans>