<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="TallerAction" class="com.cursos.action.taller.TallerAction" scope="prototype">
        <property name="tallerService" ref="TallerService"/>
        <property name="usuarioService" ref="UsuarioService"/>
        <property name="authenticationManager" ref="AuthenticationManager"/>
        <property name="alumnoService" ref="AlumnoService"/>
    </bean>

    <bean id="TallerService" class="com.cursos.service.taller.TallerService">
        <property name="tallerDao" ref="TallerDao"/>
        <property name="alumnoDao" ref="AlumnoDao"/>
        <property name="alumnoTallerDao" ref="AlumnoTallerDao"/>
    </bean>

    <bean id="TallerDao" class="com.cursos.dao.taller.TallerDao">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

    <bean id="AlumnoTallerDao" class="com.cursos.dao.taller.AlumnoTallerDao">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>




</beans>