<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ReporteAction" class="com.cursos.action.reporte.ReporteAction" scope="prototype">
        <property name="reporteService" ref="ReporteService"/>
        <property name="tallerService" ref="TallerService"/>
    </bean>

    <bean id="ReporteService" class="com.cursos.service.reporte.ReporteService">
        <property name="dataSource" ref="dataSource"/>
        <property name="reporteDao" ref="ReporteDao"/>
    </bean>

    <bean id="ReporteDao" class="com.cursos.dao.reporte.ReporteDao">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

</beans>